.todoform {
  background-color: black;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
.input {
  display: block;
  width: 100%;
  border: none;
  font-size: 22px;
  color: darkgoldenrod;
  background-color: black;
}
.input:focus {
  outline: none;
}
.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: burlywood;
  padding: 12px 20px;
  cursor: pointer;
}
.button:active {
  background-color: darkgoldenrod;
}
.inputContainer {
  display: flex;
}
