.item {
  width: 500px;
  color: darkgoldenrod;
  font-size: 30px;
  margin: 0 auto;
}
.itemName {
  font-weight: bold;
  padding: 20px;
}
.line {
  border: 1px solid grey;
}
.button {
  float: right;
  background-color: burlywood;
  padding: 12px 20px;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button:active {
  background-color: darkgoldenrod;
}
